body {
background-color: #293950;
/*font-family: 'Frank Ruhl Libre', sans-serif;*/
font-family: 'Abril Fatface', cursive;



}


/* -- Navbar -- */

.NavbarNavbar {
  height: 6em !important;
  background-color: #293950 !important;
}

.NavbarAppTitle{

  font-family: 'Abril Fatface', cursive;
  /*font-family: 'Lobster', cursive;*/
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Lobster Two', cursive;*/
  /*font-family: 'Stardos Stencil', cursive;*/
  /*font-family: 'Fjalla One', sans-serif;*/
  /*font-family: 'Karla', sans-serif;*/
  /*font-family: 'Yeseva One', cursive;*/
  font-size: 2.5em;
  margin-left: 1em !important;
  color: white;
  cursor: pointer;
}

.NavbarDropDown {
}

input {
  height: 20px;
  margin-right: 10px;

}

.NavbarSearch {
  margin-right: 30px;
  color: white !important;
  cursor: pointer;
}

.NavbarAdd {
  margin-right: 20px;
  color: white !important;
  cursor: pointer;
}

.NavbarReorder {
  margin-right: 40px;
  color: white !important;
  cursor: pointer;
}


/* -- TopicsList -- */

.TopicsList_List {
  margin-top: 50px;
  /*display: inline-block;*/
  /*text-align: left;*/
}




/* -- Bubbles Layout --*/

.chart {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.node{
  cursor: pointer;
}

/* -- Topic Details Page --*/

.TopicDetailPage_Container{
  margin-top: 200px;
  position: relative;
  display: flex;
  justify-content: center;

}

.TopicDetailPage_Header{
  color: white;
}

.buttons {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}

/* -- TopicResult --*/

.TopicResultContainer {
  margin-top: 200px;
  position: relative;
  display: flex;
  justify-content: center;
}

.TopicResultText {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}

/* -- NewTopic --*/

.NewTopicContainer{
  margin-top: 150px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.newTopicLine1{



}
.newTopicLine2{
  margin-top: 1.5em;

}

.newTopicLine3{

}
.newTopicButton{
  margin-top: 3em;

}

/* -- Topic Ready -- */



.topicReadyContainer{
  margin-top: 150px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.topicReadyYourTopic{

}

.topicReadyTopicText{
   margin-top: 1em;
   font-family: 'Abril Fatface', cursive;
   font-size: 3em;
}
.topicReadyCreated{
   margin-top: 2em;
}

.topicReadySaveToken{
  margin-top: 4em;
}

.topicReadyToken{
  margin-top: 0.5em;
}


/* -- Progress bar -- */


.progress {
  width: 400px !important;
  height: 20px !important;

}
