body {
/*background-color: #293950;*/
}


/* -- Navbar -- */

.NavbarNavbar {
  /*height: 100px !important;*/

}

.NavbarDropDown {}

input {
  height: 20px;
  margin-right: 10px;
}

.NavbarSearch {
  margin-right: 30px;
}

.NavbarAdd {
  margin-right: 20px;
}

.NavbarReorder {
  margin-right: 40px;
}


/* -- TopicsList -- */

.TopicsList_List {
  margin-top: 50px;
  /*display: inline-block;*/
  /*text-align: left;*/
}

/* -- Progress bar -- */


.progress {
  width: 300px !important;
  height: 10px !important;

}


/* -- Bubbles Layout --*/

.BubblesLayout_Background{
  background-color: tomato;
}
